<section class="container">
    {% for product in collection[section.settings.featured_collection].productions %}
        <div class="card">
            <h3>{{ product.title }}</h3>
            <p>{{ product.price | money }}</p>
        </div>
    {% endfor %}
</section>





{% schema %}
{
    "name": "Featured Collection",
    "class": "featured-collection-section",
    "settings": [
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Featured Collection",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}